<%- include("partials/header") %> 

<div class="row">
    <h1 style="text-align: center;">Sign Up</h1>
    <div style="width: 30%; margin: 20px auto;">
        <form action="/register" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username or email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <a href="/campgrounds/">Go Back</a>
    </div>    
</div>

<%- include("partials/footer") %> 