<%- include("../partials/header") %> 

<div class="row">
    <h1 style="text-align: center;">Edit <%= campground.name %></h1>
    <div style="width: 30%; margin: 20px auto;">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="campground[name]" id="name" value="<%= campground.name %>">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" type="number" name="campground[price]" id="price" value="<%= campground.price %>" min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="campground[description]" id="description" value="<%= campground.description %>">
            </div>  
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %> ">Go Back</a>
    </div>    
</div>

<%- include("../partials/footer") %> 