<%- include("../partials/header") %> 

<div class="row">
    <h1 style="text-align: center;">Create a New Campground</h1>
    <div style="width: 30%; margin: 20px auto;">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input class="form-control" type="text" name="image" id="image" placeholder="image url">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input class="form-control" type="number" name="price" id="price" placeholder="price" min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" id="description" placeholder="description">
            </div>  
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>    
</div>

<%- include("../partials/footer") %> 